$m-padding:16px;
$s-padding: 8px;

$m-margin: $m-padding;
$s-margin: $s-padding;

$m-font: 1rem;

$m-radius: 4px;

$shadow: 0px 10px 20px 10px rgba(0,0,0,.2);

// colors 
$blue: #1e88e5;
$purple: #7b1fa2;
$light-grey: rgb(193, 193, 193);
